{% extends 'main.html'%}


{% block header%}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/searchHistory.css'%}">

{% endblock header%}  

{% block body %}

<div class="container">
    <div class='title'>

        Search History
    </div>
    <div class="flex">
        <div class="row1">
            <div >
                <h2>dsafds</h2>
            </div>
            <div>
                <h2>dsafds</h2>
            </div>
        </div>
        <div class="row2">
            <h1>hello</h1>
        </div>

        <div class="row3">
            <div >
                <h2>dsafds</h2>
            </div>
            <div>
                <h2>dsafds</h2>
            </div>
        </div>
        
    </div>
</div>

{% endblock body %}
